@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.dark {
  --background: #020617; 
  --foreground: #f8fafc;

  --color-white: #0f172a;

  --color-slate-50: #020617;
  --color-slate-100: #1e293b;
  
  --color-slate-200: #334155;
  
  --color-slate-300: #475569;
  --color-slate-400: #64748b;
  --color-slate-500: #94a3b8;
  --color-slate-600: #cbd5e1;
  --color-slate-700: #e2e8f0;
  --color-slate-800: #f1f5f9;
  --color-slate-900: #f8fafc;
  
  /* Fix Black text to White */
  --color-black: #ffffff;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    
    background-image: radial-gradient(var(--color-slate-200) 1px, transparent 1px);
    background-size: 24px 24px;
    
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}